<h2>ผู้สอน</h2>

<p>ผู้สอนสามารถ &mdash; จัดการวิชาที่ได้รับมอบหมาย

    It happens due to the fact that view segments are updated only when the corresponding route segments are changed,
    and not on every location change.</p>

<p>Also, check the data resolving features and how they are handled in asynchronous manner.</p>

<p>
    The source code is located at <a href="https://github.com/artch/angular-route-segment/tree/master/example">
    https://github.com/artch/angular-route-segment/tree/master/example</a>.
    <br>Feel free to browse and learn the page sources here.
</p>