<h2>ผู้สอน</h2>

<p>ผู้สอนสามารถ &mdash; จัดการสอบวิชาของตนเอง โดยเลือกเมนู Courses ด้านซ้าย</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie gravida ipsum. Suspendisse vitae interdum eros, et tincidunt ante. Cras in risus dictum, consequat erat ut, volutpat leo. Nullam porta felis eu arcu feugiat ullamcorper. Cras imperdiet varius eros, in porta quam dictum id. Etiam posuere nulla non tincidunt pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
